:root{
    --primary-clr: red;

}
 
body{
    background: rgb(231, 231, 231);
    max-width: 800px;
    margin: 0 auto;
}
h1{
    color: var(--primary-clr);
}

.mainarea{
    background: #fff;
    min-height: 80vh;

}